<section class="main container">
    <div class="row">
        <article class="post clearfix">
            <a href="#" class="thumb pull-left">
                <img class="img-thumbnail" src="./assets/img/img1.jpg" alt="">
            </a>
            <h2 class="post-title">
                <a href="#">Cotactanos</a>
            </h2>
            <form action="/my-handling-form-page" method="post">
                <div><label>Nombre:</label>
                    <input type="text" id="name" />
                </div>
                <div>
                    <label for="mail">E-mail:</label>
                    <input type="email" id="mail" />
                </div>
                <div>
                    <label for="msg">Mensaje:</label>
                    <textarea id="msg"></textarea>
                </div>
            </form>


            <p class="post-contenido text-justify">

            </p>
        </article>

        <article class="post clearfix">
            <a href="#" class="thumb pull-left">
                <img class="img-thumbnail" src="./assets/img/img2.jpg" alt="">
            </a>

            <h2 class="post-title">
                <a href="#">Direccion</a>
            </h2>
            <p> Bo Concepcion ,j 21 calle ote , pje Francisco Gavidia, casa #2 San Miguel
            </p>





            <p class="post-contenido text-justify">

        </article>
        <article class="post clearfix">
            <a href="#" class="thumb pull-left">
                <img class="img-thumbnail" src="./assets/img/img3.jpg" alt="">
            </a>
            <h2 class="post-title">
                <a href="#">Horarios</a>
            </h2>
            <p class="post-contenido text-justify">
                Contactanos en nuestra redes sociales: @Firetabelbeer <br> De Lunes a viernes: de 8pm a 2am Sábados: 8pm a 3 am <br>

            </p>
        </article>
    </div>