<nav class="site-nav">
    <ul>
        <li><a href="#"><i class="fa fa-home site-nav--icon"></i>Inicio</a></li>
        <li><a href="#"><i class="fa fa-info site-nav--icon"></i>Reservas</a></li>
        <li><a href=""><i class="fa fa-pencil site-nav--icon"></i>Cerveza</a></li>
        <li><a href=""><i class="fa fa-usd site-nav--icon"></i>Cocteles</a></li>
        <li><a href=""><i class="fa fa-envelope site-nav--icon"></i>Contactanos</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

    </ul>
</nav>