<link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico">
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm">
        <span class="sr-only">Desplegar / Ocultar Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a href="#" class="navbar-brand">Fire Table Beer</a>
        </div>
        <!-- Inicia Menu -->
        <div class="collapse navbar-collapse" id="navegacion-fm">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Inicio</a></li>

                <li>
                    <a [routerLink]="['/reservation']">Reserva</a></li>
                <li><a [routerLink]="['/contact']">Contacto</a></li>
            </ul>

            <form action=" " class="navbar-form navbar-right " role="search ">
                <div class="form-group ">
                    <input type="text " class="form-control " placeholder="Usuario ">
                </div>
                <button type="submit " class="btn btn-primary ">
          <span class="glyphicon glyphicon-search "></span>
        </button>
            </form>
        </div>
    </div>
</nav>