<section class="main container">
    <div class="row">
        <article class="post clearfix">

            <a href="#">
                <img src="./assets/img/SLIDER3.png " alt=" ">
            </a>

            <h2 class="post-title ">
                <a href="# ">Nosotros</a>
            </h2>
            <p class="post-contenido text-justify ">
                Somos la perfecta alternativa para la diversión nocturna más exclusiva y el perfecto punto de encuentro para quienes quieran pasarla bien en San Miguel
            </p>
        </article>

        <article class="post clearfix ">
            <a href="# ">
                <img src="./assets/img/SLIDER4.png " alt=" ">
            </a>
            <h2 class="post-title ">
                <a href="# ">Productos</a>
            </h2>
            <ul class="post-contenido text-justify ">
                <li>Licor
                    <li>Cocteles
                        <li>Cervezas Nacionales
                            <li>Cervezas Internacionales
                                <li>Entradas
                                    <li>Platillos de especialidad
                                        <li> Postres
            </ul>


        </article>
        <article class="post clearfix ">
            <a href="#">
                <img src=" /assets/img/SLIDER5.png " alt=" ">
            </a>
            <h2 class="post-title ">
                <a href="# ">Vision</a>
            </h2>
            <p class="post-contenido text-justify ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </article>
    </div>
</section>